<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="RollingFileAppender" type="Lottery.Helper.Logging.DateAutoZipAppender, Lottery.Helper">
    <!--Path and process log file name -->
    <file value="logs\" />
    <!--true: log data is appended to log file -->
    <appendToFile value="true"/>
    <!-- The log file will be rolled based on 'Size' or 'Date' constraint -->
    <rollingStyle value="Date"/>
    <!-- Rolling file everyday -->
    <datePattern value="dd.MM.yyyy'.log'" />
    <!-- Maximum length of each log file -->
    <maximumFileSize value="25MB"/>
    <!-- Up to maxSizeRollBackups log files will be kept before write to disk -->
    <maxSizeRollBackups value="100"/>
    <!-- The file written to will always be same. These rolled files will be named: Process.1, Process.2, etc-->
    <staticLogFileName value="false"/>

    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%thread] %-22.22c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="ErrorFileAppender" type="Lottery.Helper.Logging.DateAutoZipAppender, Lottery.Helper">
    <file value="logs\errors\Error.Log" />
    <!--true: log data is appended to log file -->
    <appendToFile value="true"/>
    <!-- The log file will be rolled based on 'Size' or 'Date' constraint -->
    <rollingStyle value="Size"/>

    <!-- Rolling file everyday -->
    <!--<datePattern value="'.'yyyyMMdd'.log'"/>-->
    <!-- Maximum length of each log file -->
    <maximumFileSize value="25MB"/>
    <!-- Up to maxSizeRollBackups log files will be kept before write to disk -->
    <maxSizeRollBackups value="100"/>
    <!-- The file written to will always be same. These rolled files will be named: Process.1, Process.2, etc-->
    <staticLogFileName value="true"/>
    <!-- Alternatively, roll on date -->
    <!-- <rollingStyle value="Date" /> -->
    <!-- <datePattern value="yyyyMMdd" /> -->

    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%thread] %-22.22c{1} - %m%n" />
    </layout>
  </appender>

  <!-- Set the default logging level and add the active appenders -->
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
  </root>
</log4net>